<div id="footer">
  <div id="footer-wrapper">
    <div class="info">
      Copyright <%= Time.now.strftime('%Y') %> <a href="http://tilde.io">Tilde Inc.</a><br>
      <a href="http://emberjs.com/team">Core Team</a> | <a href="http://emberjs.com/sponsors">Sponsors</a> | <a href="http://emberjs.com/legal">Legal</a></br>
      <a href="http://emberjs.com/guidelines">Community Guidelines</a>
    </div>
    <div class="statement">Ember.js is free, open source and always will be.</div>
    <div class="links">
      <a class="twitter" href="http://twitter.com/emberjs">
        <i class="icon-twitter"></i><span>Twitter</span>
      </a>
      <a class="github" href="https://github.com/emberjs/ember.js">
        <i class="icon-github"></i><span>GitHub</span>
      </a>
      <a class="googleplus" href="https://plus.google.com/communities/106387049790387471205">
        <i class="icon-gplus"></i><span>Google+</span>
      </a>
    </div>
  </div>
</div>
