<div id="sidebar-wrapper">
  <select class="version-select" style="width: 100%"></select>
  <div id="sidebar">

    <%= toc_for(data.guides) %>
    <div id="back-to-top"><a id="back-top-top" href="#">&#11014; Back to Top</a></div>
  </div>
</div>
